.footer {
    background-color: var(--elemBgColor); /* red background */
    color:var(--mainTextColor);
    text-align: center;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    /* box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.2); */
  }
  .footer-text {
    font-size: 1rem;
    margin-bottom: 0.5rem;
  }
  .email-link {
    color: var(--mainTextColor);
    margin-left: 5px;
    text-decoration: none;
    font-weight: 500;
  }
  .email-link:hover {
    text-decoration: underline;
  }
  .social-icons {
    display: flex;
    justify-content: center;
    gap: 1.2rem;
    margin-top: 0.5rem;
  }
  .icon-link {
    color: var(--mainTextColor);
    font-size: 1.6rem;
    transition: transform 0.3s ease, color 0.3s ease;
  }
  .icon-link:hover {
    color: var(--iconColor);
    transform: scale(1.1);
  }
  