
.searchbar {
    background-color: var(--elemBgColor); /* dark background */
    border-radius: 40px;
    overflow: hidden;
    max-width: 500px;
    margin: 0 auto;
  }
.search-icon {
    background: transparent;
    border: none;
    color: var(--extraTextColor); /* icon color */
    font-size: 18px;
    padding-left: 15px;
  }
.search-input {
    background-color: var(--elemBgColor);
    border: none;
    padding: 12px;
    font-size: 16px; 
  }
.search-input::placeholder {
    color: var(--extraTextColor);
  }
.search-input:focus {
  background-color: var(--elemBgColor);
  color: var(--extraTextColor);    
    box-shadow: none;
  }
  .toggle-btn{
  width: 70px;
  height: 35px;
  border-radius: 50px;
  background-color: var(--elemBgColor);
  background-color: var(--iconColor);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 8px;
  cursor: pointer;
  position: relative;
  transition: background-color 0.3s ease;
  }
.toggle-btn .moon,.toggle-btn .sun {
  font-size: 1.2rem;
  z-index: 2;
}
.toggle-circle {
  position: absolute;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-color: var(--mainTextColor);
  top: 3.5px;
  left: 4px;
  transition: all 0.4s ease;
}
.toggle-btn.light .toggle-circle {
  left: calc(100% - 32px);
  background-color: var(--mainTextColor);
}
.toggle-btn:hover {
    background-color: var(--iconColor);  
}
@media (max-width: 576px) {
  .container-fluid {
    padding-left: 8px !important;
    padding-right: 8px !important;
  }
  .row.d-flex {
    display: flex !important;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap !important;
    overflow-x: visible !important;
  }
  .col-sm-8,.col-sm-4 {
    flex: 0 1 auto !important; 
    padding: 0 !important;
  }
  .searchbar {
    max-width: 100% !important;
    width: 100% !important;
    margin-left: 20px !important;
    flex: 1 1 auto;
  }
  .toggle-btn {
    flex-shrink: 0;
    margin-left: 40px;
    width: 60px;
    height: 35px;
  }
}
.search-wrapper {
  position: relative;
  display: inline-block;
}

.suggestion-dropdown {
  position: absolute;
  top: 48px;                   /* right under search bar */
  left: 0;
  width: 100%;                 /* EXACT same width as search bar */
  background-color: var(--elemBgColor);
  border-radius: 12px;         /* google style rounded corners */
  border: 1px solid var(--iconColor);
  overflow: hidden;
  z-index: 50;
  box-shadow: 0px 4px 12px rgba(0,0,0,0.25);  /* google dropdown shadow */
  
}
.suggestion-dropdown .list-group-item {
  background-color: var(--elemBgColor);
  color: var(--mainTextColor);
  border: none;
  padding: 12px 14px;
  font-size: 15px;
  cursor: pointer;
}
.suggestion-dropdown .list-group-item:hover {
  background-color: var(--iconColor);
}
